<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Sujestões</title>
</h:head>
<h:body>
	
	<p:growl id="mensagem" />
	
	<h:form id="formListagem">
		<p:panel header="Lista de SuJestão">
			<p:dataTable id="tabela" emptyMessage="Nenhum registro encontrado."
				paginator="true" value="#{sugestaoBean.sugestoes}" var="sugestao" rows="10">
				<f:facet name="header">
					<p:commandButton value="Novo" oncomplete="PF('dialogo').show();"
						actionListener="#{sugestaoBean.novo}" update=":formCadastro:painel" />
				</f:facet>

				<p:column headerText="Descrição" sortBy="#{sugestao.descricao}"
					filterBy="#{sugestao.descricao}">
					<h:outputText value="#{sugestao.descricao}" />
				</p:column>

 				<p:column headerText="Usuário" sortBy="#{sugestao.usuario.nome}"
					filterBy="#{sugestao.usuario.nome}" >
					<h:outputText value="#{sugestao.usuario.nome}" />
				</p:column>

				<p:column headerText="Opções">
					<p:commandButton icon="ui-icon-trash"
						actionListener="#{sugestao.excluir()}"
						update=":mensagem :formListagem:tabela">
						<p:confirm header="Confirmação" message="Deseja excluir o estado?"
							icon="ui-icon-alert" />
						<f:attribute name="estadoSelecionado" value="#{sugestao}" />
					</p:commandButton>

					<p:commandButton icon="ui-icon-pencil"
						actionListener="#{sugestaoBean.editar()}"
						update=":formCadastro:painel"
						oncomplete="PF('dialogo').show();">
						<f:attribute name="sugestaoSelecionado" value="sugestao" />
					</p:commandButton>
				</p:column>
			</p:dataTable>

 			<p:confirmDialog global="true">
				<p:commandButton value="Sim" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="Não" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>
		</p:panel>
	</h:form>
	
	<p:dialog header="Sugestões - Cadastro" widgetVar="dialogo"
		draggable="false" resizable="false" modal="true" closable="false">
		<h:form id="formCadastro">
			<h:panelGrid id="painel" columns="2">
				<p:outputLabel value="Descrição:" />
				<p:inputText maxlength="50" size="30"
					value="#{sugestaoBean.sugestao.descricao}" />
					
				<p:outputLabel value="Usuário:" />
				<p:selectOneMenu filter="true" value="#{sugestaoBean.sugestao.usuario}" converter="omnifaces.SelectItemsConverter">
					<f:selectItem noSelectionOption="true" itemLabel="Informe seu Usuário" />
					<f:selectItems value="#{sugestaoBean.usuarios}" var="usuario" itemValue="#{usuario}" itemLabel="#{usuario.nome}" />
				</p:selectOneMenu>
				
			</h:panelGrid>

			<h:panelGrid columns="2">
				<p:commandButton value="Salvar"
					actionListener="#{sugestaoBean.salvar()}"
					update=":mensagem :formCadastro:painel :formListagem:tabela" />
				<p:commandButton value="Fechar" oncomplete="PF('dialogo').hide();" />
			</h:panelGrid>
		</h:form>
	</p:dialog>
	
</h:body>
</html>